<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="com.grinwich.sdk.wiring.k.ComponentDiscoveryService"
            android:exported="false">
            <meta-data
                android:name="com.grinwich.sdk.providers:com.grinwich.sdk.feature.stor.StorProvider"
                android:value="com.grinwich.sdk.contracts.FeatureProvider" />
        </service>
    </application>
</manifest>
